Flask==2.3.3
flask-cors==4.0.0
yt-dlp==2025.04.09
gunicorn==21.2.0
Werkzeug==2.3.7
whisper==1.1.10
torch==2.0.1
torchaudio==2.0.2
scipy==1.11.4
transformers==4.36.0
sentencepiece==0.1.99
googletrans==4.0.0-rc1
